body {
  font-family: cursive;
  background-image: url("assets/Chef_Presentation.jpeg");
  background-color: #ccc;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin: 20px 0;
}

h2 {
  font-size: 1.5rem;
  color: #555;
  margin: 10px 0;
}

input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #0d72df;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1.125rem;
  margin: 5px 0;
  color: #333;
}

/* Style the Results lists */
#recipeNameResults, #ingredientResults {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Center the Results list */
#recipeNameResults li, #ingredientResults li {
  text-align: left;
  margin: 5px 0;
}

